<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">淡水小站</h1>
  </div>
</div>

<div class = container>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <%= link_to "所有文章", articles_path, class: "nav-item nav-link active" %>
      <%= link_to "心情", mood_articles_path, class: "nav-item nav-link" %>
      <%= link_to "課業", study_articles_path, class: "nav-item nav-link" %>
      <%= link_to "娛樂", fun_articles_path, class: "nav-item nav-link" %>
      <%= link_to "工作", work_articles_path, class: "nav-item nav-link" %>
      <%= link_to "其他", others_articles_path, class: "nav-item nav-link" %>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
    <br>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
  </div>

  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Reply count</th>
        <th scope="col">Title</th>
        <th scope="col">Last reply at</th>
        <th scope="col">Viewed count</th>
      </tr>
    </thead>
    <tbody>
      <% articles.each do |article| %>  
        <tr>
          <td><%= link_to article.replies_count, article_path(article) %></td>
          <td><%= link_to article.title, article_path(article) %></td>
          <td><%= link_to article.created_at, article_path(article) %></td>
          <td><%= link_to article.viewed_count, article_path(article) %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>
</div>